.advantages {
  width: 100%;
  background-image: url("../img/advantages-background.jpg");
  background-color: $light-blue-background;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 112px 0 120px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 89px 43px 99px 47px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 58px 15px 33px;
  }
}

.advantages h2 {
  color: $main-blue;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    font-size: 28px;
    padding-bottom: 46px;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 26px;
    padding-bottom: 48px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    padding-bottom: 30px;
  }
}

.advantages__wrapper {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    max-width: 1200px;
    min-height: 241px;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 678px;
    min-height: 315px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 290px;
    min-height: 315px;
  }
}

.advantages__list {
  max-width: 1160px;
  min-height: 241px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: $white;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 31%;
    min-height: 241px;
    padding:73px 27px 21px 25px;
    margin: 0 5px;
  }

  @media (max-width: $tablet-width-only) {
    width: 31%;
    min-height: 100%;
    padding: 70px 20px 33px;
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    min-height: 250px;
    padding: 59px 24px 8px 17px;
    margin-bottom: 30px;
  }
}

.advantages__item h3 {
  color: $main-blue;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
  margin: 0;
  position: relative;

  @media (min-width: $desktop-width) {
    line-height: 150%;
  }

  @media (max-width: $tablet-width-only) {
    line-height: 140%;
    padding: 0px 39px 0 0;
  }
}

.advantages__item:first-child h3::before {
  position: absolute;

  content: url("../img/icon-ship-desktop.png");
  width: 27px;
  height: 32px;
  bottom: 61px;

  @media (max-width: $tablet-width-only) {
    content: url("../img/icon-ship-mobile.png");
    width: 21px;
    height: 27px;
    bottom: 73px;
  }
}

.advantages__item:nth-child(2) h3::before {
  position: absolute;

  content: url("../img/icon-checked-desktop.png");
  width: 38px;
  height: 21px;
  bottom: 50px;

  @media (max-width: $tablet-width-only) {
    content: url("../img/icon-checked-mobile.png");
    width: 33px;
    height: 19px;
    bottom: 82px;
  }
}

.advantages__item:nth-child(3) h3::before {
  position: absolute;

  content: url("../img/icon-yacht-desktop.png");
  width: 42px;
  height: 15px;
  bottom: 53px;

  @media (max-width: $tablet-width-only) {
    content: url("../img/icon-yacht-mobile.png");
    width: 38px;
    height: 13px;
    bottom: 87px;
  }
}

.advantages__item p {
  color: $main-blue;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    line-height: 136%;
  }
}
