.booking {
  width: 100%;
  background-image: url("../img/booking-background.jpg");
  background-color: $light-blue-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    min-height: 555px;
    background-position: 0 -20px;
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/booking-background-tablet.jpg");
    background-position: 0 -2px;
    min-height: 802px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 760px;
  }
}

.booking__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 47px 80px 50px 77px;
  }

  @media (max-width: $tablet-width-only) {
    flex-direction: column;
    max-width: 430px;
    padding: 90px 0 100px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    min-width: 320px;
    max-width: none;
    padding: 59px 0 65px;
  }
}

.booking__caption {
  @media (min-width: $desktop-width) {
    width: 500px;
  }

  @media (max-width: $tablet-width-only) {
    width: 420px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
  }
}

.booking__caption h2 {
  color: $main-blue;
  font-weight: 700;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 150%;
    padding: 0;
    text-align: start;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 34px;
    line-height: 150%;
    padding: 0 0 5px;
    text-align: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 130%;
    padding: 0 15px 13px;
    text-align: center;
  }
}

.booking__caption p {
  color: $main-blue;
  font-weight: 400;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 150%;
    text-align: start;
    padding: 0;
    width: 350px;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 0 0 54px;
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 0 0 31px;
    width: 91%;
    max-width: none;
  }
}

.booking__form {
  background-color: $main-blue;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 407px;
  min-height: 455px;
  padding: 43px 50px 50px;
  box-sizing: border-box;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding: 43px 50px 50px 55px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
    height: fit-content;
    padding: 35px 30px 40px;
  }
}

.booking__form p {
  font-size: 18px;
  line-height: 150%;
  padding: 0 0 28px;
  margin: 0 auto;
  text-align: start;

  @media (max-width: $mobile-width-only) {
    text-align: center;
    width: 100%;
    padding: 0 0 22px;
  }
}

.booking__form input {
  background-color: $white;
  height: 43px;
  padding: 11px 16px;
  box-sizing: border-box;
  width: 303px;
  margin: 0 auto 20px;
  cursor: text;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.booking__form button {
  width: 303px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border: none;
  background-color: $white;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    height: 43px;
  }
}

.booking__form button:hover,
.booking__form button:focus {
  transform: scale(1.1);
  transition: 1s;
  border-radius: 10px;
}

.booking__form-label {
  font-weight: 400;
  color: $white;
  font-size: 10px;
  line-height: 130%;
  margin-left: 0;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  cursor: pointer;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 31px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 24px;
    width: 100%;
  }
}

.booking__form-data[type="checkbox"] ~ .booking__form-mark {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-empty.png");
  margin-right: 5px;
  position: relative;
  display: inline-block;

  @media (max-width: $mobile-width-only) {
    width: 28px;
    margin-right: 8px;
  }
}

.booking__form-data[type="checkbox"]:checked ~ .booking__form-mark {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-checked.png");
  margin-right: 5px;
  position: relative;
  display: inline-block;

  @media (max-width: $mobile-width-only) {
    width: 28px;
    margin-right: 8px;
  }
}

.booking__form-name,
.booking__form-phone,
.booking__form-email {
  background-color: $white;
  width: 303px;
  height: 43px;
  border: none;
  padding: 11px 16px;
  box-sizing: border-box;
  margin: 0 auto 20px;

  @media (max-width: $mobile-width-only) {
    width: 230px;
  }
}
