.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 120px 2px 120px 20px;
    align-items: flex-start;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 678px;
    padding: 99px 51px 100px 45px;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 290px;
    flex-direction: column;
    padding: 56px 0 59px;
  }
}

.location iframe {
  @media (min-width: $desktop-width) {
    width: 48%;
    height: 306px;
  }

  @media (max-width: $tablet-width-only) {
    width: 48%;
    height: 335px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
    height: 316px;
    order: 2;
  }
}

.location div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    width: 44%;
    min-height: 159px;
    padding-top: 77px;
  }

  @media (max-width: $tablet-width-only) {
    width: 47%;
    min-height: 153px;
    padding-top: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 94%;
    min-height: 214px;
    padding-bottom: 43px;
    padding-top: 0;
  }
}

.location__catption {
  color: $main-blue;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding-bottom: 24px;
  margin: 0;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 28px;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
    padding-bottom: 28px;
  }
}

.location__adress {
  color: $main-blue;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 21px;
  padding-left: 29px;
  margin: 0;
  position: relative;

  @media (max-width: $tablet-width-only) {
    padding-left: 33px;
    padding-right: 5px;
  }
}

.location__adress::before {
  content: "";
  background-image: url("../img/icon-adress.png");
  background-position: 0 0;
  width: 18px;
  height: 22px;
  position: absolute;
  left: 0;

  @media (max-width: $mobile-width-only) {
    left: 5px;
    top: 4px;
  }
}

.location__phone {
  color: $main-blue;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-left: 25px;
  margin: 0;
  position: relative;

  @media (max-width: $tablet-width-only) {
    padding-left: 33px;
    padding-right: 5px;
  }
}

.location__phone::before {
  content: "";
  background-image: url("../img/icon-phone.png");
  background-position: 0 0;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;

  @media (max-width: $mobile-width-only) {
    left: 5px;
    top: 4px;
  }
}
