.page-footer {
  width: 100%;
  background-color: $main-blue;
  margin: 0 auto;
  position: absolute;
  bottom: 0;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    min-height: 138px;
    padding: 46px 11px 50px 16px;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 678px;
    min-height: 120px;
    padding: 36px 43px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 290px;
    min-height: fit-content;
    padding: 40px 11px;
  }
}

.page-footer__container {
  min-width: 710px;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  align-items: flex-start;

  @media (max-width: $tablet-width-only) {
    min-width: 510px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 128px;
    flex-direction: column;
    padding: 0;
  }
}


.page-footer__list-contact {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: flex-start;
    min-width: fit-content;
  }
}

.page-footer__list-contact a {
  color: $white;
  padding: 0 5px 5px 5px;
}

.page-footer__list-contact a:hover,
.page-footer__list-contact a:focus {
  color: $white;
  border-bottom: 2px solid $white;
}

.page-footer__logo {
  display: inline-block;
  @media (min-width: $desktop-width) {
    width: 70px;
    height: 38px;
    padding-right: 39px;
  }

  @media (max-width: $tablet-width-only) {
    width: 38px;
    height: 20px;
    padding-right: 10px;;
  }

  @media (max-width: $mobile-width-only) {
    width: 42px;
    height: 22px;
    padding-bottom: 30px;
  }
}

.page-footer__item-contact {
  font-weight: 500;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 26px;
    margin-top: 15px;

    :last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $tablet-width-only) {
    font-size: 12px;
    line-height: 15px;
    margin-right: 14px;

    :last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 20px;

    :last-child {
      margin-bottom: 0;
    }
  }
}

.page-footer__list-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    min-width: 117px;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 87px;
  }
}

.page-footer__item-social {
  padding-right: 28px;
  padding-bottom: 5px;
  padding-top: 12px;
}

.page-footer__item-social:last-child {
  padding: 0;
}

.page-footer__item-social a:hover svg,
.page-footer__item-social a:focus svg {
  transform: scale(1.2);
  transition: 1s;
}
