.page-footer {
  width: 100%;
  background-color: $main-blue;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    position: relative;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    min-height: 138px;
    padding: 46px 11px 50px 19px;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 678px;
    min-height: 120px;
    padding: 51px 41px 36px 49px;
  }

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: flex-start;
    min-width: 290px;
    min-height: fit-content;
    padding: 38px 13px;
  }
}

.page-footer__container {
  min-width: 710px;
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  align-items: flex-start;

  @media (max-width: $tablet-width-only) {
    min-width: 510px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 128px;
    flex-direction: column;
    padding: 0 0 9px;
  }
}

.page-footer__list-contact {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    align-items: flex-start;
    min-width: fit-content;
  }
}

.page-footer__list-contact a {
  color: $white;
  padding: 0 5px 5px 5px;
}

.page-footer__list-contact a:hover,
.page-footer__list-contact a:focus {
  color: $white;
  border-bottom: 2px solid $white;
}

.page-footer__logo {
  display: inline-block;

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 38px;
    margin-right: 37px;
  }

  @media (max-width: $tablet-width-only) {
    width: 38px;
    height: 20px;
    margin-right: 20px;
  }

  @media (max-width: $mobile-width-only) {
    width: 42px;
    height: 22px;
    margin-bottom: 22px;
  }
}

.page-footer__item-contact {
  font-weight: 500;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    margin-right: 24px;
    margin-top: 15px;

    :last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $tablet-width-only) {
    font-size: 12px;
    line-height: 15px;
    margin-right: 14px;
    margin-bottom: 8px;

    :last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 17px;

    :last-child {
      margin-bottom: 0;
    }
  }
}

.page-footer__list-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    width: 117px;
  }

  @media (max-width: $tablet-width-only) {
    width: 94px;
  }
}

.page-footer__item-social {
  margin-right: 28px;
  margin-bottom: 5px;
  margin-top: 12px;

  @media (max-width: $tablet-width-only) {
    margin-top: 0;
    margin-right: 23px;
  }

  @media (max-width: $mobile-width-only) {
    margin-bottom: 0;
    margin-right: 23px;
  }
}

.page-footer__item-social:nth-child(3n) {
  margin-right: 0;
}

.page-footer__item-social a:hover svg,
.page-footer__item-social a:focus svg {
  transform: scale(1.2);
  transition: 1s;
}

.item-social__facebook {
  display: inline-block;

  @media (min-width: $desktop-width) {
    width: 11px;
    height: 20px;
  }

  @media (max-width: $tablet-width-only) {
    width: 9px;
    height: 16px;
  }
}

.item-social__instagram {
  display: inline-block;

  @media (min-width: $desktop-width) {
    width: 20px;
    height: 20px;
  }

  @media (max-width: $tablet-width-only) {
    width: 16px;
    height: 16px;
  }
}

.item-social__twitter {
  display: inline-block;

  @media (min-width: $desktop-width) {
    width: 20px;
    height: 16px;
  }

  @media (max-width: $tablet-width-only) {
    width: 16px;
    height: 13px;
  }
}
