.site-description {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding: 118px 20px 120px;
    align-items: flex-start;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 678px;
    padding: 93px 45px 95px;
    align-items: center;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 290px;
    padding: 56px 2px 65px 9px;
  }
}

.site-description__wrapper {
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 43%;
    padding: 57px 0 0 0;
  }

  @media (max-width: $tablet-width-only) {
    width: 48%;
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    width: 91%;
    padding-bottom: 34px;
    margin: 0;
  }
}

.site-description__wrapper h2 {
  color: $main-blue;
  font-weight: 600;
  margin: 0;
  text-align: start;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 150%;
    padding-bottom: 23px;
    padding-right: 5px;
    width: 469px;
  }

  @media (max-width: $tablet-width-only) {
    font-size: 26px;
    line-height: 140%;
    padding-bottom: 15px;
    width: 250px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 24px;
    line-height: 140%;
    padding-bottom: 16px;
    padding-right: 5px;
    width: 100%;
  }
}

.site-description__wrapper p {
  color: $main-blue;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: start;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
}

.site-description__picture-wrapper {
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 48%;
    max-height: 301px;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 48%;
    max-height: 264px;
  }

  @media (max-width: $mobile-width-only) {
    min-width: 290px;
    height: 186px;
    margin: 0 auto;
  }
}

.site-description__picture {
  width: 100%;
  height: auto;
}
