// Colors
// ---------------------------------

// Project palette

$white: rgba(249, 251, 253, 1);
$main-blue: rgba(1, 28, 64, 1);
$light-gray: rgba(216, 216, 217, 1);
$light-blue-background: rgba(197, 225, 247, 1);
$dark-blue-background: rgba(52, 137, 203, 1);
$shadow: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.5);

// Viewports
// ---------------------------------

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1023px;
$desktop-width: 1024px;
